nav a{
    padding:10px 25px;
    text-decoration: none;
    color:white;
    font-size:120%;
    background-color:gray;
    border-bottom:4px solid #444;
}

nav a.active{
    border-bottom: 4px solid darkred;
}